<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your BakeBerry</title>
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!--header font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <!--body font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Coiny&display=swap" rel="stylesheet">
    <!--css-->
    <link rel="stylesheet" href="../assignment1/styles/index.css">
   
</head>
<body>
    <!--NAV BAR-->
    <div id="navbar"> 
        <nav>
            <ul class="nav">
                <li><a>Home</a></li>
                <li><a>About Us</a></li>
                <li><a>Event Information</a></li>
                <li><a>Log In</a></li>
            </ul>
        </nav>
    </div>

    <!--HEADER-->
    <div class="header">
        <img id="header_img" src="../assignment1/img/background.png" alt="header image">
        <div class="header_hello">
            <h1>Welcome to BakeBerry</h1>
            <p>Baking with love! Eating with passion!</p>
        </div>
    </div>

    <!--WHY CHOOSE US-->  
    <div class="why_choose_us" style="background-color: #825e58; color: white; font-family: 'Coiny', cursive;">
        <div id="header">
            <h1>WHY CHOOSE US</h1>
            <p>BakeBerry - one of the best cake and pastry business model - is opened by bakers and business researchers
                ... and much more than that!! 
            </p>
        </div>
        <!--wcu tabs-->
        <div class="container py-4">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 text-center features">
                <div class="col">
                    <div class="feature-box h-100">
                        <h2>Experienced</h2>
                        <p>We have been in the event planning business for over 10 years, and have successfully organized numerous events of all sizes and types.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-box h-100">
                        <h2>Professional Team</h2>
                        <p>Our team is made up of highly skilled and experienced professionals who are dedicated to providing exceptional service and ensuring that every event is a success.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-box h-100">
                        <h2>Attention to Detail</h2>
                        <p>We understand that the little things can make a big difference, which is why we pay close attention to every detail of your event, from the decorations to the catering to the entertainment.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-box h-100">
                        <h2>Customized Solutions</h2>
                        <p>We work closely with our clients to understand their unique needs and preferences, and we tailor our services to meet those needs and exceed their expectations.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-box h-100">
                        <h2>Strong Network</h2>
                        <p>We have built strong relationships with a wide range of vendors and suppliers, which allows us to offer our clients access to the best resources and services at competitive prices.</p>
                    </div> 
                </div>
                <div class="col">
                    <div class="feature-box h-100">
                        <h2>Customer Satisfaction</h2>
                        <p>We are committed to providing exceptional customer service and ensuring that our clients are completely satisfied with every aspect of their event.</p>
                    </div>      
                </div>
            </div>
        </div>
    </div>

    <!--EVENT INFOR-->
    <div style="background-color: #edeadf; color:#4f322d;">
        <div>
            <h1>Event Information</h1>
            <p></p>
        </div>

        <div class="row">
			<div class="col-sm-3">
				<p>
                    <label for="searchName">Event Name:</label>
                    <input type="text" id="searchName" v-model="searchName" />
				</p>
			</div>

			<div class="col-sm-6">
					<label>Category:</label><br />
					<input type="radio" id="technology" v-model="eventObj.category" value="Technology" />
					<label for = "technology">Technology</label><br />
					<input type="radio" id="business" v-model="eventObj.category" value="Business" />
					<label for = "business">Business</label><br />
                    <input type="radio" id="marketing" v-model="eventObj.category" value="Marketing" />
					<label for = "marketing">Marketing</label><br />
                    <input type="radio" id="finance" v-model="eventObj.category" value="Finance" />
					<label for = "finance">Finance</label><br />
                    <input type="radio" id="all" v-model="eventObj.category" value="All" />
					<label for = "all">All</label><br />
			</div>
		</div>

        <!--the table-->
        <div class="row">
			<div class="table-responsive">
                <table  class="table table-striped table-hover">

                    <tr>
                        <th>Event ID</th>
                        <th>Event Name</th>
                        <th>Category</th>
                        <th>Duration (Hour)</th>
                    </tr>
                    <!-- Using v-for to loop and list them -->
                    <tr v-for="m in filterMarks"   >
                        <td>{{m.eventid}}</td>
                        <td>{{m.eventname}}</td>
                        <td>{{m.category}}</td>
                        <td>{{m.durationhour}}</td>
                    </tr> 
                </table>
            </div>
		</div>

    </div>
    <script src="js/vue.js"></script> <!--loading vue-->
    <script src="js/event.js"></script> <!--custom script file-->

    <!--REGISTATION FORM-->
    <div style="background-color: #825e58;" class="register">
        <div class="form">
            <div id="header">
                <h1>REGISTATION FORM</h1>
                <p>Fill in the form below to register for our upcoming events!</p>
            </div>
            <form action="/submit_registration" method="post">
                <label for="name">Username:</label><br>
                <input type="text" id="name" name="name" required><br><br>

                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required><br><br>

                <label for="event">Select Event:</label><br>
                <select id="event" name="event" required>
                    <option value="tech_inno">Tech Innovations Conference</option>
                    <option value="startup">Startup Pitch Day</option>
                    <option value="ai_machine">AI & Machine Learning Summit</option>
                    <option value="cyber_workshop">Cybersecurity Workshop</option>
                    <option value="digital_marketing">Digital Marketing Bootcamp</option>
                    <option value="blockchain">Blockchain and Cryptocurrency</option>
                    <option value="entrepreneurship">Entrepreneurship Forum</option>
                    <option value="data_science">Data Science Hackathon</option>
                    <option value="leadership">Leadership and Management Summit</option>
                    <option value="ecommerce">E-commerce Strategies</option>
                    <option value="ai_business">AI for Business</option>
                    <option value="iot">IoT & Smart Devices Expo</option>
                    <option value="brand">Brand Strategy and Growth</option>
                    <option value="investment">Investment and Wealth Management</option>
                    <option value="financial_tech">Financial Technology (FinTech) Summit</option>
                    <option value="ai_ethic">AI Ethics and Regulations</option>
                    <option value="business_ana">Business Analytics Workshop</option>
                    <option value="seo_content">SEO and Content Marketing</option>
                    <option value="crypto">Cryptocurrency Investment Strategies</option>
                    <option value="social_media">Social Media Marketing Trends</option>
                </select><br><br>

                <input type="submit" value="Register">
            </form>
        </div>
    </div>
</body>
</html>
