<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your BakeBerry</title>
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!--header font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <!--body font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Coiny&display=swap" rel="stylesheet">
    <!--css-->
    <link rel="stylesheet" href="../framework/css/index.css">
   
</head>
<body>
    <!--NAV BAR-->
    <div id="navbar"> 
        <nav>
            <ul class="nav">
                <li><a>Home</a></li>
                <li><a>About Us</a></li>
                <li><a>Event Information</a></li>
                <li><a>Log In</a></li>
            </ul>
        </nav>
    </div>

    <!--HEADER-->
    <div class="header">
        <img id="header_img" src="../framework/img/background.png" alt="header image">
        <div class="header_hello">
            <h1>Welcome to BakeBerry</h1>
            <p>Baking with love! Eating with passion!</p>
        </div>
    </div>

    <!--WHY CHOOSE US-->  
    <div class="why_choose_us" style="background-color: #825e58; color: white; font-family: 'Coiny', cursive;">
        <div id="header">
            <h1>WHY CHOOSE BAKEBERRY</h1>
            <p>BakeBerry reimagines the bakery experience with data-driven menus, limited runs, and made-fresh quality—turning everyday treats into standout moments.
            Read more about us</p>
        </div>
        <!--wcu tabs-->
        <div class="container py-4">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 text-center features">
                <div class="col">
                    <div class="feature-box h-100">
                        <h2>Experienced</h2>
                        <p>We have been in the event planning business for over 10 years, and have successfully organized numerous events of all sizes and types.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-box h-100">
                        <h2>Professional Team</h2>
                        <p>Our team is made up of highly skilled and experienced professionals who are dedicated to providing exceptional service and ensuring that every event is a success.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-box h-100">
                        <h2>Attention to Detail</h2>
                        <p>We understand that the little things can make a big difference, which is why we pay close attention to every detail of your event, from the decorations to the catering to the entertainment.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-box h-100">
                        <h2>Customized Solutions</h2>
                        <p>We work closely with our clients to understand their unique needs and preferences, and we tailor our services to meet those needs and exceed their expectations.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-box h-100">
                        <h2>Strong Network</h2>
                        <p>We have built strong relationships with a wide range of vendors and suppliers, which allows us to offer our clients access to the best resources and services at competitive prices.</p>
                    </div> 
                </div>
                <div class="col">
                    <div class="feature-box h-100">
                        <h2>Customer Satisfaction</h2>
                        <p>BakeBerry offers fresh, inventive bakes made with responsibly sourced ingredients and a commitment to consistent quality.</p>
                    </div>      
                </div>
            </div>
        </div>
    </div>

    <!--EVENT INFOR-->
    <div style="background-color: #edeadf; color:#4f322d;">
        <div id="header">
            <h1>Event Information</h1>
            <p>At BakeBerry, we blend our passion for baking with a progressive business mindset, hosting events that connect people through ideas, creativity, and enterprise. Discover BakeBerry’s upcoming events—crafted to connect passion, creativity, and business opportunities.</p>
        </div>

        <div class="row align-items-start mb-3">
			<div class="col-md-4">
                <div class="mb-3">
                    <label for="searchId">Event ID:</label>
                    <input type="text" id="searchId" v-model="searchId" />
                </div>
				<div class="mb-3">
                    <label for="searchName">Event Name:</label>
                    <input type="text" id="searchName" v-model="searchName" />
				</div>
                <div class="mb-3">
                    <label for="searchDuration">Duration (Hour):</label>
                    <input type="text" id="searchDuration" v-model="searchDuration" />
                </div>
			</div>

			<div class="col-sm-6">
					<label>Category:</label><br />
					<input type="radio" id="technology" v-model="eventObj.category" value="Technology" />
					<label for = "technology">Technology</label><br />
					<input type="radio" id="business" v-model="eventObj.category" value="Business" />
					<label for = "business">Business</label><br />
                    <input type="radio" id="marketing" v-model="eventObj.category" value="Marketing" />
					<label for = "marketing">Marketing</label><br />
                    <input type="radio" id="finance" v-model="eventObj.category" value="Finance" />
					<label for = "finance">Finance</label><br />
                    <input type="radio" id="all" v-model="eventObj.category" value="All" />
					<label for = "all">All</label><br />
			</div>
		</div>

        <!--the table-->
        <div class="row">
			<div class="table-responsive">
                <table  class="table table-striped table-hover">

                    <tr>
                        <th>Event ID</th>
                        <th>Event Name</th>
                        <th>Category</th>
                        <th>Duration (Hour)</th>
                    </tr>
                    <!-- Using v-for to loop and list them -->
                    <tr v-for="m in filterMarks"   >
                        <td>{{m.eventid}}</td>
                        <td>{{m.eventname}}</td>
                        <td>{{m.category}}</td>
                        <td>{{m.durationhour}}</td>
                    </tr> 
                </table>
            </div>
		</div>

    </div>



    <!--REGISTATION FORM-->
    <div style="background-color: #825e58;" class="register">
        <div class="form">
            <div>
                <h1>REGISTATION FORM</h1>
                <p>Fill in the form below to register for our upcoming events!</p>
            </div>

            <form @submit.prevent="handleSubmit">
                <label for="name">Username: </label><br>
                <input type="text" id="name" name="name" v-model="form.username" required><br><br>

                <label for="password">Password: </label><br>
                <input type="password" id="password" name="password" v-model="form.password" required><br><br>

                <label for="confirm_pass">Confirm Password: </label><br />
                <div style="display: flex; align-items: center;">
                    <input type="password" id="confirm_pass" name="confirm_pass" v-model="form.confirm_pass" required>
                    <span class="error ms-2" v-if="notMatchPass" style="font-size: 0.95em;">Passwords don't match</span>
                </div>
                <br>

                <label for="category">Category</label><br />
                    <input type="radio" id="technology" v-model="eventObj.category" value="Technology" name="technology" />
					<label for = "technology">Technology</label><br />
					<input type="radio" id="business" v-model="eventObj.category" value="Business" name="business" />
					<label for = "business">Business</label><br />
                    <input type="radio" id="marketing" v-model="eventObj.category" value="Marketing" name="marketing" />
					<label for = "marketing">Marketing</label><br />
                    <input type="radio" id="finance" v-model="eventObj.category" value="Finance" name="finance" />
					<label for = "finance">Finance</label><br />

                <label for="event">Select Event:</label><br>
                <select id="event" name="event" v-model="form.selectevent" required>
                    <option v-for="m in filterMarks" :value="m.eventname">{{ m.eventname }}</option>
                </select><br><br>

                <button type="submit">Register</button>
            </form>
        </div>
    </div>

    <script src="../framework/js/vue.global.js"></script> <!--loading vue-->
    <script src="../framework/js/event.js"></script> <!--custom script file-->
</body>
</html>
