<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
    <h1>String test</h1>
        <p>Please enter your name: <input type="text" v-model="name" /> </p>

        <div v-if="name == 'Khanh'">
            <p>Awesome name!</p>
        </div>

        <div v-else-if="name == ''">
            <p>Helloo please enter your name</p>
        </div>

        <div v-else>
            <p>not my name</p>
        </div>
        </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    name: ''
                }
            }
        });
        app.mount('#app');
    </script>
</body>
</html>